@import "reset";
@import "vars";

body {
  background: $color-dark;
  font-family: 'JetBrains Mono', monospace;
  color: $color-white;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 95px;
  text-align: center;
  letter-spacing: -0.03em;

  @media screen and (max-width: 769px) {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.02em;
  }
}

h2 {
  font-weight: 400;
  font-size: 62px;
  line-height: 82px;
  letter-spacing: -0.03em;
  @media screen and (max-width: 769px) {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
  }
}

p {
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;
  @media screen and (max-width: 769px) {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.01em;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  height: 40px;
  padding: 0 15px;
  width: 120px;
  cursor: pointer;

  position: relative;
  @media screen and (max-width: 769px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  &::after, &::before {
    display: block;
    position: absolute;
    top: 0;
    content: '';
    height: 100%;
    border: 2px solid $color-white;
    width: 15px;
  }
  &:hover::after, &:hover::before {
    border-color: $color-light-blue;
  }
  &::before {
    left: 0;
    border-right: none;
  }
  &::after {
    right: 0;
    border-left: none;
  }
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1490px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: 1490px) {
    padding: 0 80px;
  }

  @media screen and (max-width: 1290px) {
    padding: 0 40px;
  }

  @media screen and (max-width: 769px) {
    padding: 0 20px;
  }
}

